.footer-buttons {
  max-width: 1200px;
}

.footer-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer-logos {
  max-width: 1200px;
}

.footer-logos img {
  height: 40px;
  margin-left: 15px;
}
