@for (station of chargingStations; track station.uuid) {
  <a href="#" class="card" tabindex="0">
    <!--        <div class="card">-->
    <h3>Nom de la station: {{ station.name }}</h3>
    <img
      alt="bornes"
      src="{{ station.mediaList[0].path }}.{{ station.mediaList[0].extension }}"
    />
    <p>
      Location: {{ station.localisation.city }},
      {{ station.localisation.zipCode }}
    </p>
    <p>Directive: {{ station.accessDirectives }}</p>
    <p>Availability: {{ station.onFoot ? "Sur Pied" : "Muralle " }}</p>
    <p>Price per hour: {{ station.baseHourlyRate }}€</p>
    <!--        </div>-->
  </a>
  <a href="#" class="card" tabindex="0">
    <!--        <div class="card">-->
    <h3>Nom de la station: {{ station.name }}</h3>
    <img
      alt="bornes"
      src="{{ station.mediaList[0].path }}.{{ station.mediaList[0].extension }}"
    />
    <p>
      Location: {{ station.localisation.city }},
      {{ station.localisation.zipCode }}
    </p>
    <p>Directive: {{ station.accessDirectives }}</p>
    <p>Availability: {{ station.onFoot ? "Sur Pied" : "Muralle " }}</p>
    <p>Price per hour: {{ station.baseHourlyRate }}€</p>
    <!--        </div>-->
  </a>
  <a href="#" class="card" tabindex="0">
    <!--        <div class="card">-->
    <h3>Nom de la station: {{ station.name }}</h3>
    <img
      alt="bornes"
      src="{{ station.mediaList[0].path }}.{{ station.mediaList[0].extension }}"
    />
    <p>
      Location: {{ station.localisation.city }},
      {{ station.localisation.zipCode }}
    </p>
    <p>Directive: {{ station.accessDirectives }}</p>
    <p>Availability: {{ station.onFoot ? "Sur Pied" : "Muralle " }}</p>
    <p>Price per hour: {{ station.baseHourlyRate }}€</p>
    <!--        </div>-->
  </a>
  <a href="#" class="card" tabindex="0">
    <!--        <div class="card">-->
    <h3>Nom de la station: {{ station.name }}</h3>
    <img
      alt="bornes"
      src="{{ station.mediaList[0].path }}.{{ station.mediaList[0].extension }}"
    />
    <p>
      Location: {{ station.localisation.city }},
      {{ station.localisation.zipCode }}
    </p>
    <p>Directive: {{ station.accessDirectives }}</p>
    <p>Availability: {{ station.onFoot ? "Sur Pied" : "Muralle " }}</p>
    <p>Price per hour: {{ station.baseHourlyRate }}€</p>
    <!--        </div>-->
  </a>
  <a href="#" class="card" tabindex="0">
    <!--        <div class="card">-->
    <h3>Nom de la station: {{ station.name }}</h3>
    <img
      alt="bornes"
      src="{{ station.mediaList[0].path }}.{{ station.mediaList[0].extension }}"
    />
    <p>
      Location: {{ station.localisation.city }},
      {{ station.localisation.zipCode }}
    </p>
    <p>Directive: {{ station.accessDirectives }}</p>
    <p>Availability: {{ station.onFoot ? "Sur Pied" : "Muralle " }}</p>
    <p>Price per hour: {{ station.baseHourlyRate }}€</p>
    <!--        </div>-->
  </a>
  <a href="#" class="card" tabindex="0">
    <!--        <div class="card">-->
    <h3>Nom de la station: {{ station.name }}</h3>
    <img
      alt="bornes"
      src="{{ station.mediaList[0].path }}.{{ station.mediaList[0].extension }}"
    />
    <p>
      Location: {{ station.localisation.city }},
      {{ station.localisation.zipCode }}
    </p>
    <p>Directive: {{ station.accessDirectives }}</p>
    <p>Availability: {{ station.onFoot ? "Sur Pied" : "Muralle " }}</p>
    <p>Price per hour: {{ station.baseHourlyRate }}€</p>
    <!--        </div>-->
  </a>
}
