.form-station-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 100%;

}

.button-add-charging {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--main-button-color);
  color: var(--main-button-text-color);
  font-size: var(--font-size-small);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
