<form [formGroup]="chargingStationForm" class="form-station-content">
  <label for="name">Nom</label>
  <input formControlName="name" id="name" name="name" type="text" required>
  <label for="availability">Disponibilité</label>
  <input formControlName="availability" id="availability" name="availability" type=checkbox required>
  <label for="prix">Prix</label>
  <input formControlName="pricePerHour" id="prix" name="prix" type="number">
  <label>Photo</label>
  <app-single-file-upload (fileUploaded)="onFileUploaded($event)"></app-single-file-upload>
  <button type="submit" (click)="onSubmit()" (keydown.enter)="onSubmit()" class="button-add-charging"> Add Station
  </button>
</form>
