<div class="logo">
  <img src="assets/logo.png" alt="Electricity Business Logo" />
</div>

<div app-search></div>

<div class="h-100">
  <a routerLink="/" class="bg-header-button p-3 rounded"> Acceuil</a>

  <a routerLink="/stations" class="bg-header-button p-3 rounded">Stations</a>

  @if (!isLoggedIn()) {
    <a routerLink="/register" class="bg-header-button p-3 rounded">
      Inscription
    </a>
    <a routerLink="/login" class="bg-header-button p-3 rounded"> Connexion</a>
  } @else {
    <a routerLink="/profile" class="bg-header-button p-3 rounded"> Profile</a>

    <a class="bg-header-button p-3 rounded" (click)="logout()"> Deconnexion </a>
  }
</div>
