.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #B9E3D4;
  color: #103281;
  padding: 15px 30px;
}

.logo img {
  height: 50px;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  text-align: center;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #103281;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  padding: 10px 20px;
  background-color: #103281;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-buttons button:hover {
  background-color: #91F387;
}
