<header class="header-container">
  <div class="logo">
    <img src="assets/logo.png" alt="Electricity Business Logo"/>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Recherche..."/>
  </div>
  <div class="header-buttons">
    <a (click)="goToHome()">
      <button>Acceuil</button>
    </a>
    <a (click)="goToStations()">
      <button>Stations</button>
    </a>
    <a (click)="goToUsers()">
      <button>Utilisateur</button>
    </a>

    @if (!isLoggedIn()) {
      <a (click)="goToLogin()">
        <button>Connexion</button>
      </a>
    } @else {
      <a (click)="goToStationManagement()">
        <button>Vos Stations</button>
      </a>
      <a>
        <button>Deconnexion</button>
      </a>
    }


  </div>
</header>
