.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 15px 30px;
  font-size: var(--font-size-header);
}

.logo img {
  height: 50px;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  text-align: center;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--main-text-color);
  font-size: var(--font-size-base);
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  padding: 10px 20px;
  background-color: var(--header-button-background-color);
  color: var(--header-button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-small);
}

.header-buttons button:hover {
  cursor: pointer;
}
