.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--main-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-page-not-found {
  padding: 10px 20px;
  background-color: var(--main-button-color);
  color: var(--main-button-text-color);
  font-size: var(--font-size-small);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
