<div class="text-center grid-auto-row">
  <h2>{{ isUpdateMode ? "Mise à jour du profile" : "Inscription" }}</h2>
  <form
    *ngIf="userForm"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
    class="test"
  >
    <div>
      <label for="firstname">Nom: </label>
      <input
        type="text"
        id="firstname"
        formControlName="firstname"
        name="firstname"
        required
      />
    </div>
    <div>
      <label for="lastname">Prenom: </label>
      <input
        type="text"
        id="lastname"
        formControlName="lastname"
        name="lastname"
        required
      />
    </div>
    <div>
      <label for="email">Email: </label>
      <input
        type="text"
        id="email"
        formControlName="email"
        name="email"
        required
      />
    </div>

    @if (!isUpdateMode) {
      <div>
        <label for="password">Mot de passe: </label>
        <input
          type="password"
          id="password"
          formControlName="password"
          name="password"
          required
        />
        @if (
          userForm.get("password").touched && userForm.get("password").invalid
        ) {
          @if (userForm.get("password").errors["required"]) {
            <div class="error">Le mot de passe est obligatoire.</div>
          }
          @if (userForm.get("password").errors["pattern"]) {
            <div class="error">
              Le mot de passe doit contenir au moins 8 caractères, une lettre
              majuscule, une lettre minuscule, un chiffre et un caractère
              spécial.
            </div>
          }
        }
      </div>
    }
    <div>
      <label for="phone">Telephone: </label>
      <input
        type="text"
        id="phone"
        formControlName="phone"
        name="phone"
        required
      />
    </div>
    <div>
      <label for="birthedAt">Date de Naissance: </label>
      <input
        type="date"
        id="birthedAt"
        formControlName="birthedAt"
        name="birthedAt"
        required
      />
    </div>

    <button type="submit" class="button m-1 p-1 rounded-lg">
      {{ isUpdateMode ? "Mettre à jour" : "S'inscrire" }}
    </button>
    <button type="button" (click)="onCancel()">Annuler</button>
  </form>
</div>
<div *ngIf="!userForm">
  <p>Loading form...</p>
</div>
