.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.main-footer {
  width: 100%;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
