<div class="text-center">
  <section>
    <article class="bg-main-home rounded-lg">
      <h2 class="text-2xl text-header mb-2">Le Projet</h2>
      <div class="grid-content even-columns grid-s2-w4">
        <div
          class="shadow bg-secondary text-secondary rounded-lg grid-auto-row"
        >
          <h3 class="text-xl text-secondary mx-5">
            Le partages de <br />Bornes
          </h3>
          <div class="m-auto">
            Lorem ipsum dolor sit amet, consectetura adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse
          </div>
          <a
            ><button class="button my-3 border-0 rounded-lg px-2 py-2">
              Ajouter une borne
            </button>
          </a>
        </div>
        <div
          class="shadow bg-secondary text-secondary rounded-xl grid-auto-row"
        >
          <h3 class="text-xl text-secondary mx-5">
            Une Equipe<br />
            Soudé
          </h3>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse<br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse
          </div>
          <a>
            <button class="button my-3 border-0 rounded-lg px-2 py-2">
              En savoir plus
            </button>
          </a>
        </div>
      </div>
    </article>

    <article class="bg-header my-4 rounded-lg">
      <h2 class="text-2xl text-header mb-2">Vos Bornes</h2>
      <div class="grid-content even-columns grid-s2-w4">
        <div
          class="shadow bg-secondary text-secondary rounded-xl grid-auto-row"
        >
          <h3 class="text-xl text-secondary mx-5">Ajoutes vos <br />Bornes</h3>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse
          </div>
          <a>
            <button class="button my-3 border-0 rounded-lg px-2 py-2">
              Ajouter une borne
            </button></a
          >
        </div>
        <div
          class="shadow bg-secondary text-secondary rounded-xl grid-auto-row"
        >
          <h3 class="text-xl text-secondary mx-5">Modifier vos <br />Bornes</h3>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse<br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse
          </div>
          <a
            ><button class="button my-3 border-0 rounded-lg px-2 py-2">
              Modifier vos bornes
            </button></a
          >
        </div>
      </div>
    </article>

    <article class="bg-main-home rounded-lg">
      <h2 class="text-2xl text-header mb-2">Locations</h2>
      <div class="grid-content even-columns grid-s2-w4">
        <div
          class="shadow bg-secondary text-secondary rounded-xl grid-auto-row"
        >
          <h3 class="text-xl text-secondary mx-5">
            Besoin d'une <br />
            bornes
          </h3>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse
          </div>
          <a>
            <button class="button my-3 border-0 rounded-lg px-2 py-2">
              Louer une bornes
            </button>
          </a>
        </div>
        <div
          class="shadow bg-secondary text-secondary rounded-xl grid-auto-row"
        >
          <h3 class="text-xl text-secondary mx-5">
            Rejoignez<br />
            Nous !
          </h3>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse<br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar tortor eget euismod auctor. Proin bibendum pretium arcu
            rutrum fringilla. Donec dapibus semper erat eu convallis. Fusce vel
            leo augue. Suspendisse
          </div>
          <a>
            <button class="button my-3 border-0 rounded-lg px-2 py-2">
              Inscription
            </button>
          </a>
        </div>
      </div>
    </article>
  </section>
</div>
