<div class="register-form bg-main p-2 border-solid rounded-lg">
  <h2>Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-2 col " >
      <label for="firstname">Nom: </label>
      <input type="text" id="firstname" [(ngModel)]="firstname" name="firstname" required>
    </div>
    <div class="mb-2 col " >
      <label for="lastname">Prenom: </label>
      <input type="text" id="lastname" [(ngModel)]="lastname" name="lastname" required>
    </div>
    <div class="mb-2 col " >
      <label for="email">Email: </label>
      <input type="text" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="mb-2 col " >
      <label for="password">Mot de passe: </label>
      <input type="text" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="mb-2 col " >
      <label for="phoneNumber">Telephone: </label>
      <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" required>
    </div>


    <button type="submit">Register</button>
  </form>


  @if (successMessage) {
    <p  style="color: green;">{{ successMessage }}</p>
  }
  @if (errorMessage) {
    <p style="color: red;">{{ errorMessage }}</p>
  }
</div>
