.dropdown-item {
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--header-button-background-color);
}

.dropdown-item:hover {
background-color: #f1f1f1;
}

.wrapper-search {
  left: 25%;
  width: 50%;
}

.search-input {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.no-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow-y: auto;
  background-color: white;
}

