<div class="relative wrapper-search">
  <input
    type="text"
    class="p-2 search-input border-main"
    placeholder="Search by city or street name..."
    [formControl]="searchControl"
    (focus)="showDropdown = true"
    (blur)="hideDropdown()"
    (keydown)="handleKeydown($event)"
  />

  <div
    class="no-results"
    *ngIf="showDropdown && filteredChargingStation.length > 0"
  >
    <div
      *ngFor="let station of filteredChargingStation; trackBy: trackById"
      (mousedown)="selectStation(station)"
      class="dropdown-item"
    >
      {{ station.localisation.city }}, {{ station.localisation.streetNumber }},
      {{ station.localisation.streetName }}
    </div>
  </div>

  <div
    *ngIf="filteredChargingStation.length === 0 && searchControl.value"
    class="no-results"
  >
    No matches found
  </div>
</div>
