<div class="login-content">
  <div class="title-login">
    <span>Page de connexion</span>
    <p><em>{{ message }}</em></p>
  </div>
  <form #loginForm="ngForm" class="login-form-content">
    <div class="label-input">
      <label for="email">Email: </label>
      <input type="text" id="email" [(ngModel)]="email" name="email" required>
    </div>

    <div class="label-input">
      <label for="password">Mot de passe: </label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div>
      @if (!authService.isLoggedIn) {
        <a (click)="login()" (keydown.enter)="login()">
          <button class="button-login">Se connecter</button>
        </a>
      } @else {
        <a (click)="logout()">
          <button class="button-login">Se déconnecter</button>
        </a>
      }

    </div>
  </form>
</div>
