<form [formGroup]="form" (ngSubmit)="login()" class="container-center col">
  <div class="mb-2 col">
    <label for="email">Email: </label>
    <input type="text" id="email" formControlName="email" required />
    @if (form.controls["email"].invalid && form.controls["email"]) {
      <div class="error">Email is required and must be valid.</div>
    }
  </div>

  <div class="mb-2 col">
    <label for="password">Mot de passe: </label>
    <input type="password" id="password" formControlName="password" required />
    @if (form.controls["password"].invalid && form.controls["password"]) {
      <div class="error">Password is required.</div>
    }
  </div>

  <div>
    <button
      type="submit"
      class="bg-header-button rounded-lg py-2 px-3 border-0"
      [disabled]="form.invalid"
    >
      Se connecter
    </button>
  </div>
</form>
