/*Variable.css*/
:root {
  /*color variable*/
  --main-background-color: hsl(200, 100%, 90%);
  --main-background-color-1: hsl(210, 100%, 80%);
  --main-background-color-2: hsl(220, 100%, 70%);
  --main-background-color-3: hsl(230, 100%, 60%);
  --main-background-color-4: hsl(240, 100%, 50%);

  --secondary-background-color: hsl(201, 100%, 55%);
  --header-background-color: hsl(210, 100%, 80%);
  --footer-background-color: hsl(240, 50%, 80%);
  --main-lighter-background-color: hsl(319, 87%, 80%);


  --main-button-color: hsl(319, 87%, 30%);
  --secondary-button-color: #91F387;
  --header-button-background-color: #103281;

  --main-text-color: hsl(227, 78%, 7%);
  --main-button-text-color: hsl(237, 90%, 11%);
  --secondary-text-color: #91F387;
  --header-text-color: #103281;
  --secondary-button-text-color: #333333;
  --header-button-text-color: #91F387;

  --font-bold: bold;

  /*size variable */
  --base-font-size: 1rem;
  --base-gap: 1rem;
  --base-padding: 10px;
  --base-margin: 10px;

  --font-size-small: calc(var(--base-font-size) * 0.875);
  --font-size-base: var(--base-font-size);
  --font-size-large: calc(var(--base-font-size) * 1.25);
  --font-size-header: calc(var(--base-font-size) * 1.5);
  --font-size-main-header: calc(var(--base-font-size) * 2);

  --margin-none: 0;
  --margin-xs: calc(var(--base-margin) * 0.5);
  --margin-sm: var(--base-margin);
  --margin-md: calc(var(--base-margin) * 1.5);
  --margin-lg: calc(var(--base-margin) * 2);

  --padding-none: 0;
  --padding-xs: calc(var(--base-padding) * 0.5);
  --padding-sm: var(--base-padding);
  --padding-md: calc(var(--base-padding) * 1.5);
  --padding-lg: calc(var(--base-padding) * 2);

  --gap-xs: calc(var(--base-gap) * 0.25);
  --gap-sm: calc(var(--base-gap) * 0.5);
  --gap-md: calc(var(--base-gap) * 1);
  --gap-lg: calc(var(--base-gap) * 1.5);
  --gap-xl: calc(var(--base-gap) * 2);


  --width-25: 25%;
  --width-50: 50%;
  --width-75: 75%;
  --width-100: 100%;
  --width-auto: auto;

  --height-25: 25%;
  --height-50: 50%;
  --height-75: 75%;
  --height-100: 100%;
  --height-auto: auto;

  --shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.4);

  --rounded: 1rem;
  --rounded-sm: 0.50rem;
  --rounded-md: 1.5rem;
  --rounded-lg: 2.50rem;
  --rounded-xl: 3.50rem;
  --rounded-circle: 50%;
}

