/*Variable.css*/
:root {
  --main-background-color: #91f387;
  --main-lighter-background-color: #B9E3D4;
  --main-text-color: #103281;
  --main-button-color: #103281;
  --main-button-text-color: #B9E3D4;

  --secondary-background-color: #0B3035;
  --secondary-button-color: #91F387;
  --secondary-button-text-color: #333333;
  --secondary-text-color: #91F387;

  --header-background-color: #B9E3D4;
  --header-button-background-color: #103281;
  --header-text-color: #103281;
  --header-button-text-color: #91F387;

  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-large: 1.25rem;
  --font-size-header: 1.5rem;
  --font-size-main-header: 2rem;

  --margin-xs: 5px;
  --margin-sm: 10px;
  --margin-md: 15px;
  --margin-lg: 20px;
  --margin-xl: 25px;

  --padding-xs: 5px;
  --padding-sm: 10px;
  --padding-md: 15px;
  --padding-lg: 20px;
  --padding-xl: 25px;

  --width-25: 25%;
  --width-50: 50%;
  --width-75: 75%;
  --width-100: 100%;
  --width-auto: auto;

  --height-25: 25%;
  --height-50: 50%;
  --height-75: 75%;
  --height-100: 100%;
  --height-auto: auto;

  --gap-xs: 0;
  --gap-sm: 0.25rem;
  --gap-md: 0.5rem;
  --gap-lg: 1rem;
  --gap-xl: 1.5rem;
}

