<table class="station-card p-1 text-main m-1">
  <thead class="minw-50">
  <tr class="text-secondary ">
    <th class="bg-secondary">Name</th>
    <th class="bg-secondary">Location</th>
    <th class="bg-secondary">Type</th>
    <th class="bg-secondary">Availability</th>
    <th class="bg-secondary">Price per hour</th>
  </tr>
  </thead>
  <tbody class="minw-50">
    @for (station of chargingStations; track station.uuid) {
      <tr >
        <td >{{ station.name }}</td>
        <td>{{ station.location.streetName }}</td>
        <td>{{ station.type }}</td>
        <td>{{ station.availability ? 'Disponible' : 'Pas Disponible' }}</td>
        <td>{{ station.pricePerHour }}€</td>
      </tr>
    }
  </tbody>
</table>
