.home-container {
  text-align: center;
  padding: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}

.feature-card-first {
  background-color: #91F387;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card-second {
  background-color: #B9E3D4;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card-third {
  background-color: #0B3035;
  border-radius: 45px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #91F387;
}

.feature-card-forth {
  display: flex;
}

.feature-card h2 {
  font-size: 1.5em;
  color: #103281;
}

.feature-card p {
  color: #333333;
}

.button {
  background-color: #91F387;
  color: #333333;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
