.home-container {
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.feature-card-first {
  background-color: var(--main-background-color);
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card-second {
  background-color: var(--main-lighter-background-color);
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card-third {
  background-color: var(--secondary-background-color);
  border-radius: 45px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--secondary-text-color);
  flex: 4;
}

.feature-card-forth {
  display: flex;
}

.feature-card-fifth {
  flex: 2;
}

.title-main-home-card {
  font-size: var(--font-size-main-header);
  color: var(--header-text-color);
}

.title-home-card {
  font-size: var(--font-size-header);
  color: var(--secondary-text-color);
}


.button {
  background-color: var(--secondary-button-color);
  color: var(--secondary-button-test-color);
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
