.home-container {
  text-align: center;
  padding: 20px;
}

header {
  background-color: #B9E3D4;
  color: #103281;
  padding: 50px 0;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.feature-card-first {
  background-color: #91F387;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card-second {
  background-color: #B9E3D4;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card-third {
  background-color: #0B3035;
  border-radius: 45px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #91F387;
}

.feature-card h2 {
  font-size: 1.5em;
  color: #103281;
}

.feature-card p {
  color: #333333;
}

footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #B9E3D4;
  color: #103281;
}
