<div class="home-container">

  <section class="features">
    <article class="feature-card-first">
      <h2>Le Projet</h2>
      <div class="feature-card-forth">
        <div class="feature-card-third">
          <h3>Le partages de Bornes</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse <br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button"><a>Ajouter une borne</a></button>
        </div>
        <div class="feature-card-third">
          <h3>Une Equipe Soudé</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse<br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button"><a>En savoir plus</a></button>
        </div>
      </div>
    </article>
    <article class="feature-card-second">
      <h2>Vos Bornes</h2>
      <div class="feature-card-forth">
        <div class="feature-card-third">

          <h3>Ajoutes vos Bornes</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse <br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button"><a>Ajouter une borne</a></button>


        </div>
        <div class="feature-card-third">
          <h3>Modifier vos Bornes</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse<br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button"><a>Modifier vos bornes</a></button>
        </div>
      </div>
    </article>
    <article class="feature-card-first">
      <h2>Locations</h2>
      <div class="feature-card-forth">
        <div class="feature-card-third">
          <h3>Besoin d'une bornes</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse <br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button"><a>Louer une bornes</a></button>
        </div>
        <div class="feature-card-third">
          <h3>Rejoignez Nous !</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse<br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button"><a>Inscription</a></button>
        </div>
      </div>
    </article>
  </section>
</div>
