<div class="text-center">

  <section class="d-flex col mt-5">
    <article class="bg-main-home mb-4 rounded-lg">
      <h2 class="text-2xl text-header">Le Projet</h2>
      <div class="d-flex">
        <div class="shadow flex-4 bg-secondary mx-4 my-3 pb-3 text-secondary rounded-xl">
          <h3 class="text-xl text-secondary">Le partages de Bornes</h3>
          <div>Lorem ipsum dolor sit amet, consectetura
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse <br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button mt-5 border-0 rounded-lg px-4 py-2"><a>Ajouter une borne</a></button>
        </div>
        <div class="flex-2 empty-space"></div>
        <div class="shadow flex-4 bg-secondary mx-4 my-3 pb-3 text-secondary rounded-xl">
          <h3 class="text-xl text-secondary">Une Equipe Soudé</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse<br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button mt-5 border-0 rounded-lg px-2 py-2"><a>En savoir plus</a></button>
        </div>
      </div>
    </article>
    <article class="bg-header mb-4 rounded-lg ">
      <h2 class="text-2xl text-header"> Vos Bornes</h2>
      <div class="d-flex">
        <div class="shadow flex-4 bg-secondary mx-4 my-3 pb-3 text-secondary rounded-xl">
          <h3 class="text-xl text-secondary">Ajoutes vos Bornes</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse <br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button mt-5 border-0 rounded-lg px-2 py-2"><a>Ajouter une borne</a></button>

        </div>
        <div class="flex-2"></div>
        <div class="shadow flex-4  bg-secondary mx-4 my-3 pb-3 text-secondary rounded-xl">
          <h3 class="text-xl text-secondary">Modifier vos Bornes</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse<br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button mt-5 border-0 rounded-lg px-2 py-2"><a>Modifier vos bornes</a></button>
        </div>
      </div>
    </article>
    <article class="bg-main-home mb-4 rounded-lg">
      <h2 class="text-2xl text-header">Locations</h2>
      <div class="d-flex">
        <div class="shadow flex-4 bg-secondary mx-4 my-3 pb-3 text-secondary rounded-xl">
          <h3 class="text-xl text-secondary">Besoin d'une bornes</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse <br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button mt-5 border-0 rounded-lg px-2 py-2"><a>Louer une bornes</a></button>
        </div>
        <div class="flex-2"></div>
        <div class="shadow flex-4 bg-secondary mx-4 my-3 pb-3 text-secondary rounded-xl">
          <h3 class="text-xl text-secondary">Rejoignez Nous !</h3>
          <div>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse<br><br>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin pulvinar tortor eget
            euismod auctor. Proin bibendum pretium
            arcu rutrum fringilla. Donec dapibus semper
            erat eu convallis. Fusce vel leo augue.
            Suspendisse
          </div>
          <button class="button mt-5 border-0 rounded-lg px-2 py-2"><a>Inscription</a></button>
        </div>
      </div>
    </article>
  </section>
</div>
